@import "~primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

$enable-negative-margins: true;

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f3f3f3;
}

.p-inputtext,
.p-dropdown {
  border-width: 0px 0px 1px 0px !important;
  border-radius: 0px !important;
}

.p-dropdown {
  background-color: transparent;
}

.p-inputtext {
  font-size: 13px;
}

.p-inputtext.ng-dirty.ng-invalid {
  border: 1px solid #c5c8cb;
}

.grid-full {
  display: grid;
}

.p-tooltip .p-tooltip-text {
  width: 91px;
  font-size: 11px;
  color: #2C414E;
  text-align: center;
  border-radius: 1rem;
  background-color: #fff;
}

.p-multiselect {
  font-size: 13px;
  border-radius: 0px;
  background-color: transparent;
  border-width: 0px 0px 1px 0px;
}

.p-multiselect-panel .p-multiselect-items {
  padding: 0;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  font-size: 13px;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #009074;
  background: #EFF6FF;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.15rem #aaf09f75;
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #009074;
  background-color: #009074;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  color: #ffffff;
  border-color: #009074;
  background-color: #009074;
}

.p-dropdown .p-dropdown-label {
  font-size: 13px;
}

.p-dropdown-item {
  font-size: 13px;
}

.p-dropdown:not(.p-disable).p-focus{
  outline: 0 none;
  outline-offset: 0;
  border-color: #0A9374;
  box-shadow: inset 0 0 0 0.2rem #aaf09f75;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #009074;
  background-color: #EFF6FF;
}

.p-inputtext:enabled:focus{
  box-shadow: 0 0 0 0.2rem #aaf09f75;
  border-color: #009074;
}

.p-inputtext:enabled:hover{
  border-color: #009074;
}

.p-datepicker table td>span.p-highlight {
  color: #009074;
  background-color: #EFF6FF;
}

.p-datepicker table td>span:focus {
  color: #009074;
  background-color: #EFF6FF;
}

.p-datepicker table td>span:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #aaf09f75;
}

.p-datepicker table td.p-datepicker-today>span {
  color: #495057;
  border-color: transparent;
  background-color: #ced4da85;
}

.p-paginator{
  background: none;
  padding: 0;
  font-size: 13px;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  min-width: 1rem;
  height: 1rem;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 1rem;
  height: 1rem;
  margin-left: 0.2rem;
  color: var(--text-color) !important;
  font-weight: 700;
  font-size: 13px;
  font-family: "Titillium Web", sans-serif;
}

.modalDeletar .btn .p-button {
  color: #2b2a2a !important;
  background: transparent !important;
}

.modalDeletar .btn .p-button:hover {
  color: #2b2a2a !important;
  background: #14c2a813 !important;
}

.modalDeletar .p-button {
  border: none !important;
  color: #fff !important;
  font-size: 14px !important;
  border-radius: 10px !important;
  font-family: 'Titillium Web', sans-serif !important;
  background: #14C2A9 0% 0% no-repeat padding-box !important;
}

.modalDeletar .p-button:hover {
  color: #fff;
  background: #14c2a8b7 0% 0% no-repeat padding-box !important;
}

.p-confirm-dialog .p-dialog-header {
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 5px 10px #93939329;
  background: transparent linear-gradient(273deg, #D8D77F 0%, #029174 100%);
}

.p-confirm-dialog .p-dialog-header .p-dialog-title{
  margin: 5px;
  color: #fff;
  letter-spacing: 2.1px;
  font-size: 14px;
  font-weight: 400;
}

.p-confirm-dialog .p-dialog-content{
  border-top-right-radius:6px;
  border-top-left-radius:6px;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.p-confirm-dialog .p-button {
  border: none;
  font-family: 'Titillium Web', sans-serif;
  background: linear-gradient(252deg, #84BB7B 0%, #0A9374 100%);
}

.p-confirm-dialog .p-button-label {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.p-confirm-dialog .p-button:hover {
  background: linear-gradient(252deg, #84bb7bb9 0%, #0a9373d7 100%);
}

.p-confirm-dialog .p-button:active {
  background: linear-gradient(252deg, #84bb7bb9 0%, #0a9373d7 100%);
}

.modalExames .p-button {
  text-transform: uppercase; 
  padding: 6px 24px;
  font-weight: 600;
  border-radius: 0 !important;
}


.rodape-modal .btn-nao {
  background-color: #e0e0e0 !important;
  color: #333 !important;
}

.rodape-modal .btn-nao:hover:enabled {
  background-color: #d6d6d6 !important;
  color: #000 !important;
}

.modalExames .p-button:hover {
  background: #000; 
  color: #fff; 
}

.message-margin .btn-exams{
    background: transparent linear-gradient(273deg, #D8D77F 0%, #029174 100%)!important;
    margin-top: 10px !important; 
    width: 55% !important; 
    height: 30px !important; 
    color: #fff !important; 
    border: none !important;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

.message-margin .btn-exams:hover{
    cursor: pointer;
    color: #fff;
    background: transparent linear-gradient(85deg, #009073d7 0%, #f1f08f 100%) !important;
}

.message-margin .btn-exams:disabled {
  background: #d3d3d3 !important; 
  border-color: #a9a9a9 !important; 
  color: #666 !important;          
  cursor: not-allowed !important;  
}
