    <div class="grid">
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
                <div><h3>Chat - Pendências</h3></div>
                <div class="grid">
                     <div class="col-12 lg:col-6 xl:col-3">
                        <div class="card mb-0">
                            <div class="flex flex-column">
                                <div class="flex align-items-center font-bold border-round m-0">
                                    <span><h4>Corretor </h4></span>
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                        <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-comment text-blue-300 text-xl"></i>
                                        </div>                            
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Pendentes: 20
                                        </div>
                                    </div>                    
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                            <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                                <i class="pi pi-comment text-orange-300 text-xl"></i>
                                            </div>                   
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Respondidas: 20
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 lg:col-6 xl:col-3">
                            <div class="card mb-0">
                            <div class="flex flex-column">
                                <div class="flex align-items-center font-bold border-round m-0">
                                    <span><h4>Internas </h4></span>
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                        <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-comment text-blue-300 text-xl"></i>
                                        </div>                            
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Pendentes: 20
                                        </div>
                                    </div>                    
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                            <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                                <i class="pi pi-comment text-orange-300 text-xl"></i>
                                            </div>                   
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Respondidas: 20
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 lg:col-6 xl:col-3">
                            <div class="card mb-0">
                            <div class="flex flex-column">
                                <div class="flex align-items-center font-bold border-round m-0">
                                    <span><h4>Emissor </h4></span>
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                        <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-comment text-blue-300 text-xl"></i>
                                        </div>                            
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Pendentes: 20
                                        </div>
                                    </div>                    
                                </div>
                                <div class="flex align-items-center font-bold border-round m-1">
                                    <div class="flex flex-row flex-wrap">
                                        <div class="flex align-items-center justify-content-center font-bold border-round m-0">
                                            <div class="flex align-items-center justify-content-center border-round" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                                <i class="pi pi-comment text-orange-300 text-xl"></i>
                                            </div>                   
                                        </div>
                                        <div class="flex align-items-center justify-content-center border-round m-1">
                                            Respondidas: 20
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            </div>
                        </div>
                  </div>
            </div>
    </div>
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
                <div><h3>Pendências X Prazos</h3></div>
                <div class="grid">
                     <div class="col-12 lg:col-6 xl:col-3">
                        <div class="card mb-0">
                            <span><h4>Corretor </h4></span>
                            <div class="flex flex-column">
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                        Até x dias: 20
                                    </div>
                                </div>
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                       Mais de x dias: 20
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="card mb-0">
                            <span><h4>Internas</h4></span>
                            <div class="flex flex-column">
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                        Até x dias: 20
                                    </div>
                                </div>
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                       Mais de x dias: 20
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-12 lg:col-6 xl:col-3">
                        <div class="card mb-0">
                            <span><h4>Emissor </h4></span>
                            <div class="flex flex-column">
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                        Até x dias: 20
                                    </div>
                                </div>
                                <div class="flex font-bold border-round m-1">
                                    <div class="flex flex-column">
                                        <div class="flex align-items-center justify-content-center" [ngStyle]="{width: '1.5rem', height: '1.5rem'}">
                                            <i class="pi pi-clock text-blue-300 text-xl"></i> 
                                        </div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center border-round m-1">
                                       Mais de x dias: 20
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                  </div>
            </div>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
                <div><h3>Restrições Pendentes e/ou Ações necessárias</h3></div>
                <div class="grid">
                    <div class="col-12 lg:col-6 xl:col-4">
                            <div class="card">
                                <div class="flex flex-column">
                                <h5>Restrições Pendentes e/ou Ações necessárias</h5>
                                <p-table [value]="restricoes" [paginator]="false" [rows]="9" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="text-align: center;">Restrições/Ações</th>
                                            <th style="text-align: center;">Qtde</th>
                                            <th style="text-align: center;">Detalhe</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-restricao>
                                        <tr>
                                            <td style="width: 3%; min-width: 4rem; "><div style="display: flex; justify-content: center; align-items: center;">{{restricao.tipo}}</div></td>
                                            <td style="width: 5%; min-width: 4rem;"><div style="display: flex; justify-content: center; align-items: center;">{{restricao.qtd}}</div></td>
                                            <td style="width: 5%; min-width: 4rem;"><div *ngIf="restricao.existeDetalhe" style="display: flex; justify-content: center; align-items: center;"><p-button icon="pi pi-bars" (click)="detalheRestricao(restricao)"></p-button></div></td>
                                            
                                        </tr>
                                    </ng-template>
                                </p-table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


      <div class="col-12 lg:col-6 xl:col-4">
            <div class="card">
                <p-table [value]="restricoes" [paginator]="false" [rows]="9" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="text-align: center;">Status Grade</th>
                            <th style="text-align: center;">Qtde</th>
                            <th style="text-align: center;">Consultar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-restricao>
                        <tr>
                            <td style="width: 3%; min-width: 4rem; "><div style="display: flex; justify-content: center; align-items: center;">{{restricao.tipo}}</div></td>
                            <td style="width: 5%; min-width: 4rem;"><div style="display: flex; justify-content: center; align-items: center;">{{restricao.qtd}}</div></td>
                            <td style="width: 5%; min-width: 4rem;"><div style="display: flex; justify-content: center; align-items: center;"><p-button icon="pi pi-filter" (click)="detalheRestricao(restricao)"></p-button></div></td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="col-12 lg:col-8 xl:col-4">
            <div class="card">
                <h5>Sales Overview</h5>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>

            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notifications</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>

                <span class="block text-600 font-medium mb-3">TODAY</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Richard Jones
                    <span class="text-700"> has purchased a blue t-shirt for <span class="text-blue-500">79$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-download text-xl text-orange-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Your request for withdrawal of <span class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">YESTERDAY</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-dollar text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Keyser Wick
                    <span class="text-700"> has purchased a black jacket for <span class="text-blue-500">59$</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-question text-xl text-pink-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions about your product.</span></span>
                    </li>
                </ul>
            </div>
    </div>
</div>

<p-dialog header="Detalhe Restricao {{(restricao)?restricao.tipo:''}}" [(visible)]="visibleDetalheRestricao" [modal]="true" [style]="{ width: '30%' }" [draggable]="false" [resizable]="false">
    <div class="grid">
      <div class="col-12 lg:col-12 xl:col-12">
            <div class="card">
                <p-table [value]="restricaoDetalhe" [paginator]="false" [rows]="9" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th  style="text-align: center;">Restrições/Ações</th>
                            <th  style="text-align: center;">Qtde</th>
                            <th  style="text-align: center;">Consultar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-restricaoDetalhe>
                        <tr>
                            <td><div style="display: flex; justify-content: center; align-items: center;">{{restricaoDetalhe.tipo}}</div></td>
                            <td><div style="display: flex; justify-content: center; align-items: center;">{{restricaoDetalhe.qtd}}</div></td>
                            <td><div style="display: flex; justify-content: center; align-items: center;"><p-button icon="pi pi-filter"></p-button></div></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-dialog>