 <div class="grid">
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-center">
                    <b>Mês/Ano:</b>
                </div>                        
                <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                    <p-calendar [(ngModel)]="dataCompareDe" view="month" dateFormat="mm/yy" inputId="yearpicker"></p-calendar>
                </div>
                <div class="col-12 lg:col-7 xl:col-1 flex align-items-center justify-content-left px-7">
                    <b>Grupo de Distribuição:</b>
                </div>
                <div class="col-12 lg:col-12 xl:col-2">
                    <p-multiSelect [options]="grupoEmissor" [group]="true" [(ngModel)]="emissoresSelecionados" defaultLabel="Selecione os Emissores" display="chip">
                        <ng-template let-value pTemplate="selectedItems">
                            <div *ngIf="!emissoresSelecionados || emissoresSelecionados.length === 0">Selecione os Emissores</div>
                            <div *ngIf="emissoresSelecionados && emissoresSelecionados.length > 0">Emissores {{emissoresSelecionados.length}}</div>
                        </ng-template>
                        <ng-template let-group pTemplate="group">
                         <div class="flex align-items-center">
                           <span>{{ group.label }}</span>
                         </div>
                        </ng-template>                           
                    </p-multiSelect>   
                </div>
                <div class="col flex justify-content-end align-items-start">
                       <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                </div>
            </div>
               <div><h3>Media de Emissão (Em Dias)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                        <div class="custom-legend">
                        <div *ngFor="let ds of chartData?.secudaryDataSet; let i = index" (click)="toggleDatasetVisibilityIndividual(i,'legend-')">
                            <span [style.backgroundColor]="ds.backgroundColor" class="legend-color-box"></span>
                            <span id="legend-{{i}}" style="{{(ds.label == 'Recusado')?'text-decoration: line-through;':''}}">{{ ds.label }}</span>
                        </div>
                        </div>                        
                         <p-chart #chartMediaAtendimentoIndividual type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
                       </div>                       
                    </div>
               </div>
            </div>
        </div>
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Periodo:</b>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2">
                        <p-calendar [(ngModel)]="periodoInicio" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2">
                        <p-calendar [(ngModel)]="periodoFim" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Emissor:</b>
                    </div>
                    <div class="col-12 lg:col-12 xl:col-2">    
                        <p-multiSelect [options]="grupoEmissor" [group]="true" [(ngModel)]="emissoresSelecionados" defaultLabel="Selecione os Emissores" display="chip">
                            <ng-template let-value pTemplate="selectedItems">
                                <div *ngIf="!emissoresSelecionados || emissoresSelecionados.length === 0">Selecione os Emissores</div>
                                <div *ngIf="emissoresSelecionados && emissoresSelecionados.length > 0">Emissores {{emissoresSelecionados.length}}</div>
                            </ng-template>                            
                            <ng-template let-group pTemplate="group">
                                <div class="flex align-items-center">
                                    <span>{{ group.label }}</span>
                                </div>
                            </ng-template>                           
                        </p-multiSelect>   
                    </div>
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>
               </div>
               <div><h3>Media Atendimento Por Familía De Produto (Em Dias)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                            <p-chart type="bar" [data]="chartDataPorProduto" [options]="chartOptionsPorProduto"></p-chart>
                       </div>
                    </div>
               </div>
            </div>
        </div> 
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Periodo:</b>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                        <p-calendar [(ngModel)]="periodoInicio" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                        <p-calendar [(ngModel)]="periodoFim" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>                
               </div>
               <div><h3>Atendimento Manual X Automático Por Produto (Em %)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                            <p-chart type="bar" [data]="chartDataManualAutoPorProduto" [options]="chartOptionsManualAutoPorProduto"></p-chart>
                       </div>
                    </div>
               </div>
            </div>
        </div> 
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Ano:</b>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2">
                        <p-calendar [(ngModel)]="periodoInicio" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-12 xl:col-2">
                        <p-dropdown [options]="familias" [(ngModel)]="familiaSelecionada" optionLabel="descricao" [filter]="true" filterBy="descricao" [showClear]="true" placeholder="Seleciona Familía">
                            <ng-template let-familia pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ familia.descricao }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>                        
                    </div>
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>                                        
               </div>
               <div><h3>Atendimento Manual X Automático Por Restrição (Em %)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                        <div class="custom-legend">
                        <div *ngFor="let ds of chartDataManualAutoPorRestricao?.secudaryDataSet; let i = index" (click)="toggleDatasetManualAutomaticoPorRestricao(i,'legend-por-restricao-')">
                            <span [style.backgroundColor]="ds.backgroundColor" class="legend-color-box"></span>
                            <span id="legend-por-restricao-{{i}}">{{ ds.label }}</span>
                        </div>
                        </div>                         
                        <p-chart #chartManualAutomaticoPorRestricao type="bar" [data]="chartDataManualAutoPorRestricao" [options]="chartOptionsManualAutoPorRestricao"></p-chart>
                        <div class="custom-legend">
                        <div *ngFor="let ds of chartDataManualAutoPorRestricao?.legendDataSet; let i = index">
                            <span [style.backgroundColor]="ds.backgroundColor" class="legend-color-box"></span>
                            <span>{{ ds.label }}</span>
                        </div>
                        </div>                        
                       </div>
                    </div>
               </div>
            </div>
        </div>         
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-center">
                        <b>Compara De:</b>
                    </div>                        
                    <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                        <p-calendar [(ngModel)]="dataCompareDe" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Com:</b>
                    </div>                    
                    <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                        <p-calendar [(ngModel)]="dataCompareCom" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Familía:</b>
                    </div>
                    <div class="col-12 lg:col-12 xl:col-2">
                        <p-dropdown [options]="familias" [(ngModel)]="familiaSelecionada" optionLabel="descricao" [filter]="true" filterBy="descricao" [showClear]="true" placeholder="Seleciona Familía">
                            <ng-template let-familia pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ familia.descricao }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>                        
                    </div>
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>                    
               </div>
               <div><h3>Propostas Recusadas e Liberadas No Ano</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                            <div class="custom-legend">
                                <div *ngFor="let ds of chartDataProdutividade?.secudaryDataSet; let i = index" (click)="toggleDatasetPropostaRecLibNoAno(i,'legend-rec-lib-ano-')">
                                    <span [style.backgroundColor]="ds.backgroundColor" class="legend-color-box"></span>
                                    <span id="legend-rec-lib-ano-{{i}}">{{ ds.label }}</span>
                                </div>
                            </div>                        
                            <p-chart type="bar" #chartRecusadaLiberadaNoAno [data]="chartDataProdutividade" [options]="chartOptionsProdutividade"></p-chart>
                       </div>
                    </div>
               </div>
            </div>
        </div>  
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-center">
                        <b>Ano</b>
                    </div>                        
                    <div class="col-12 lg:col-4 xl:col-2 flex align-items-center justify-content-left">
                        <p-calendar [(ngModel)]="dataCompareDe" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Familía:</b>
                    </div>
                    <div class="col-12 lg:col-12 xl:col-2">
                        <p-dropdown [options]="familias" [(ngModel)]="familiaSelecionada" optionLabel="descricao" [filter]="true" filterBy="descricao" [showClear]="true" placeholder="Seleciona Familía">
                            <ng-template let-familia pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ familia.descricao }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>                        
                    </div>
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>                                        
               </div>
               <div><h3>Top 5 Motivos de Recusa das Propostas</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">                     
                            <p-chart type="bar" [data]="chartDataQtdRecusaPorMotivo" [options]="chartOptionsQtdRecusaPorMotivo"></p-chart>
                       </div>
                    </div>
               </div>
            </div>
        </div>
 </div>
