  .custom-legend {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center; /* Centers content horizontally */
    align-items: center;    /* Centers content vertically */    
  }
  .legend-color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .exporta-arquivo {
    position: absolute;
    top: 0;
    right: 0;
    width: '3.0rem';
    height: '3.0rem';
    resize: both;
    overflow: auto;
  }