 <div class="grid">
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                <div class="p-3"><b>Mês/Ano:</b></div>
                <div class="col-2 p-2"><p-calendar [(ngModel)]="dataCompareDe" view="month" dateFormat="mm/yy" inputId="yearpicker"></p-calendar></div>                    
                <div class="p-3"><b>Grupo de Distribuição: </b></div>
                <div class="p-2">
                    <p-dropdown [options]="grupoDistribuicao" [showClear]="true" [filter]="true" [(ngModel)]="grupoDistribuicaoSelecionado" optionLabel="descricao"></p-dropdown>
                </div>
                <div class="col flex justify-content-end align-items-start">
                    <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                </div>                            
            </div>
               <div><h3>Média de Emissão (Em Dias)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                        <div class="custom-legend">
                        <div *ngFor="let ds of chartData?.secudaryDataSet; let i = index" (click)="toggleDatasetVisibilityIndividual(i,'legend-')">
                            <span [style.backgroundColor]="ds.backgroundColor" class="legend-color-box"></span>
                            <span id="legend-{{i}}" style="{{(ds.label == 'Recusado')?'text-decoration: line-through;':''}}">{{ ds.label }}</span>
                        </div>
                        </div>                        
                         <p-chart #chartMediaAtendimentoIndividual type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
                       </div>                       
                    </div>
               </div>
            </div>
        </div>
        <div class="col-12 lg:col-12 xl:col-12">
            <div class="card mb-0">
             <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-1 flex align-items-center justify-content-left px-7">
                        <b>Periodo:</b>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2">
                        <p-calendar [(ngModel)]="periodoInicio" dateFormat="dd/mm/yy"></p-calendar>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-2">
                        <p-calendar [(ngModel)]="periodoFim" dateFormat="dd/mm/yy"></p-calendar>
                    </div>    
                    <div class="col flex justify-content-end align-items-start">
                        <p-button [style]="{'width': '2.8rem', 'height': '2.8rem'}" icon="pi pi-file-export"></p-button>
                    </div>                                   
               </div>
               <div><h3>Média Atendimento Por Familía De Produto (Em Dias)</h3></div>
               <div class="grid">
                    <div class="col-12 lg:col-12 xl:col-12">
                       <div class="card mb-0">
                            <p-chart type="bar" [data]="chartDataPorProduto" [options]="chartOptionsPorProduto"></p-chart>
                       </div>
                    </div>
               </div>
            </div>
        </div> 
 
 </div>
